.todoList {
    padding: 10px;
    margin: 10px;
    border: 2px solid darkblue;
    width: 300px;
}

.deleteButton {
    box-sizing: border-box;
    cursor: pointer;
    text-decoration: none;
    color: white;
    border: none;
    border-radius: 5px;
    background-color: lightskyblue;
    font-size: 16px;
    line-height: 24px;
    padding: 10px;
    width: 100%;
}

.deleteButton:hover {
    background-color: lightsteelblue;
}